<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--缓存管理器-->
    <!--本机缓存  不推荐使用-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>


    <!--记住我cookie-->
    <bean id="cookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <!-- rememberMe是cookie的名字 -->
        <constructor-arg value="shiroRemeberMe"/>
        <!--cookie有效期-->
        <property name="maxAge" value="7200"/>
    </bean>


    <!--记住我管理器-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="cookie"/>

    </bean>


    <!--凭证匹配器-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!--加密算法-->
        <property name="hashAlgorithmName" value="md5"/>
        <!--加密次数-->
        <property name="hashIterations" value="2"/>
    </bean>


    <!--realm-->
    <bean id="myRealm" class="net.wanho.realm.MyRealm">
        <!--凭证匹配器-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
        <!--是否开启缓存-->
        <property name="cachingEnabled" value="true"/>


    </bean>


    <!--securityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 将realm注入到当前的securityManager中 -->
        <property name="realm" ref="myRealm"/>
        <!--缓存管理器-->
        <property name="cacheManager" ref="cacheManager"/>
        <!--记住我管理器-->
        <property name="rememberMeManager" ref="rememberMeManager"/>
    </bean>

    <!--把securityManager绑定给securityUtils-->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

    <!--配置shiro的 web过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
       <!--当系统中没有用户时跳转登录页面-->
        <property name="loginUrl" value="/login/toLogin"/>
        <property name="filterChainDefinitions">
            <value>
                /login/**=anon
                /js/** =anon
                /css/**=anon
                /**=user
            </value>
        </property>
    </bean>




</beans>